In [10]:
# !apt-get install p7zip
# !p7zip -d -f -k ./mercari-price-suggestion-challenge/train.tsv.7z
# !unzip -o ./mercari-price-suggestion-challenge/sample_submission_stg2.csv.zip
# !unzip -o ./mercari-price-suggestion-challenge/test_stg2.tsv.zip
# !p7zip -d -f -k ./mercari-price-suggestion-challenge/test.tsv.7z
# !pip install pandas
# !pip install sklearn
# !pip install h2o
# !git clone https://github.com/4paradigm/autox.git
# !pip install ./autox
# !pip install psutil

In [11]:
import numpy as np 
import pandas as pd 
# from nltk.corpus import stopwords
# from sklearn.model_selection import train_test_split
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.preprocessing import LabelBinarizer
# from scipy.sparse import hstack, csr_matrix
# from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_log_error
import re
import gc
import matplotlib.pyplot as plt
#H2O
import h2o
from h2o.estimators.gbm import H2OGradientBoostingEstimator

# Pandas setting to display more dataset rows and columns
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
import time
import os
import psutil

def count_time(func):
    def int_time():
        start_time = time.time()
        func()
        over_time = time.time()
        total_time = over_time - start_time
        print("程序运行了%s秒" % total_time)
    return int_time

def count_info(func):
    def float_info():
        pid = os.getpid()
        p = psutil.Process(pid)
        info_start = p.memory_full_info().uss/1024
        func()
        info_end=p.memory_full_info().uss/1024
        print("程序占用了内存"+str(info_end-info_start)+"KB")
    return float_info

In [12]:
train = pd.read_csv("sub_train.csv")
test1 = pd.read_csv('sub_val.csv')

In [13]:
test = test1.drop(columns=['price'])

In [14]:
# kf = KFold(n_splits=3, random_state=1001,shuffle=True)
# for i, (train_index, val_index) in enumerate(kf.split(train)):
#     trn= train.iloc[train_index].reset_index()
#     val= train.iloc[val_index].reset_index()
# val = val.drop(columns=['index'])
# test = val.drop(columns=['price'])
# test = test.rename(columns={'train_id':'test_id'})
# val = val.rename(columns={'train_id':'test_id'})
# test.to_csv('test.csv',index=False)
# val.to_csv('val.csv',index=False)
# train.to_csv('train.csv',index=False)
# !source /etc/profile
# !java

In [15]:
h2o.init()
all_train = h2o.H2OFrame(train)
# all_test = h2o.H2OFrame(test1)
#Get columns names for Building H2O Models
target = 'price'
predictors = [f for f in all_train.columns if f not in ['price','train_id','test_id']]

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ----------------------------------
H2O_cluster_uptime:         2 hours 30 mins
H2O_cluster_timezone:       Asia/Shanghai
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.1
H2O_cluster_version_age:    22 days
H2O_cluster_name:           H2O_from_python_unknownUser_ftgn45
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    19.94 Gb
H2O_cluster_total_cores:    15
H2O_cluster_allowed_cores:  15
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.10 final
--------------------------  ----------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [7]:
from h2o.automl import H2OAutoML

In [8]:
aml = H2OAutoML(max_models=1, seed=1331)
aml.train(x=predictors, y=target, training_frame=all_train)

AutoML progress: |
15:34:09.170: _train param, Dropping bad and constant columns: [name]

███████████████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_1_AutoML_1_20220501_153409


Model Summary:

     number_of_trees
0           45.00000

ModelMetricsRegression: xgboost
** Reported on train data. **

MSE: 897.655590886451
RMSE: 29.960901035957697
MAE: 14.009382812257158
RMSLE: NaN
Mean Residual Deviance: 897.655590886451

ModelMetricsRegression: xgboost
** Reported on cross-validation data. **

MSE: 1078.3157105311182
RMSE: 32.83771780332973
MAE: 14.821529435005798
RMSLE: NaN
Mean Residual Deviance: 1078.3157105311182

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,14.82153,0.66708,15.50185,14.70646,13.77638,15.28104,14.84193
1,mean_residual_deviance,1078.31570,496.45440,1936.61490,980.89703,656.88590,955.93870,861.24207
2,mse,1078.31570,496.45440,1936.61490,980.89703,656.88590,955.93870,861.24207
3,r2,0.20854,0.06483,0.16140,0.28077,0.23791,0.12203,0.24057
4,residual_deviance,1078.31570,496.45440,1936.61490,980.89703,656.88590,955.93870,861.24207
5,rmse,32.24425,6.94841,44.00699,31.31928,25.62979,30.91826,29.34693
6,rmsle,0.64226,0.00000,NaN,NaN,0.64226,NaN,NaN

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2022-05-01 15:34:39,30.059 sec,0.00000,44.97970,25.91228,2023.17384
1,,2022-05-01 15:34:40,30.883 sec,5.00000,32.86678,14.18261,1080.22517
2,,2022-05-01 15:34:40,31.429 sec,10.00000,31.50802,14.47681,992.75525
3,,2022-05-01 15:34:41,31.873 sec,15.00000,31.03842,14.47391,963.38354
4,,2022-05-01 15:34:41,32.303 sec,20.00000,30.70874,14.34461,943.02655
5,,2022-05-01 15:34:41,32.784 sec,25.00000,30.39629,14.23485,923.93472
6,,2022-05-01 15:34:42,33.229 sec,30.00000,30.29298,14.20785,917.66470
7,,2022-05-01 15:34:42,33.784 sec,35.00000,30.22101,13.99972,913.30964
8,,2022-05-01 15:34:43,34.224 sec,40.00000,30.04179,14.03004,902.50918
9,,2022-05-01 15:34:43,34.691 sec,45.00000,29.96090,14.00938,897.65559

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,brand_name.Louis Vuitton,3636423.00000,1.00000,0.26615
1,item_condition_id,1320539.62500,0.36314,0.09665
2,category_name.Electronics/Computers & Tablets/Laptops & Netbooks,670378.68750,0.18435,0.04907
3,category_name.Electronics/Cell Phones & Accessories/Cell Phones & ...,573936.06250,0.15783,0.04201
4,brand_name.nan,558457.25000,0.15357,0.04087
5,category_name.Women/Women's Handbags/Backpack Style,529091.25000,0.14550,0.03872
6,shipping,395904.28125,0.10887,0.02898
7,brand_name.Air Jordan,341629.84375,0.09395,0.02500
8,category_name.Men/Men's Accessories/Watches,288718.40625,0.07940,0.02113
9,category_name.Men/Shoes/Fashion Sneakers,274412.59375,0.07546,0.02008
10,category_name.Vintage & Collectibles/Bags and Purses/Handbag,239180.51562,0.06577,0.01751
11,brand_name.Michael Kors,236317.78125,0.06499,0.01730
12,category_name.Men/Shoes/Athletic,229668.60938,0.06316,0.01681
13,category_name.Electronics/Video Games & Consoles/Consoles,223718.26562,0.06152,0.01637
14,brand_name.Apple,190194.67188,0.05230,0.01392
15,category_name.Women/Women's Accessories/Watches,150357.42188,0.04135,0.01100
16,brand_name.Kendra Scott,149451.17188,0.04110,0.01094
17,category_name.Women/Athletic Apparel/Tracksuits & Sweats,149226.85938,0.04104,0.01092
18,category_name.Women/Women's Handbags/Shoulder Bag,147534.56250,0.04057,0.01080
19,category_name.Women/Shoes/Athletic,141866.64062,0.03901,0.01038

See the whole table with table.as_data_frame()

In [9]:
test = h2o.H2OFrame(test)
prediction = aml.leader.predict(test)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
xgboost prediction progress: |███████████████████████████████████████████████████| (done) 100%

/root/miniconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'item_description' has levels not trained on: ["" MUST BE 18YRS OR OLDER TO PURCHASE" 8" Frosted Glass Water Pipe With Perc, Ice Catcher And Removable Stem 1- 5pc pack of Silver Screens", ""An elegant perfume that blends neroli, rose and ylang ylang to still the mind and enhance serenity. This is the floral and fruity half of Breath of God, with Exhale providing the smoky depth. Inhale opens with a melon splash, but has a distinctive floral and lemon note with a depth provided by sandalwood. We've used a jojoba oil base rather than an alcohol base to allow it to settle and linger. Notes: melon, neroli, rose, ylang ylang"", ""B-Pave Heart Chain Link Bracelet" 16cm gold colored charm bracelet with Juicy heart charm, never been worn. Still has original tag, originally [rm]", ""Be Enchanted" No trades", ""Fairly light" bare minerals powder. Used a couple times. Don't care for it anymore. Check out my other listings", ""Give cheeks a juicy look with these buildable color gel blushes. Long lasting formula, infused with hibiscus extract, leaves skin looking fresh for hours with a natural flush that's all your own." Includes 3 colors: Peony, Dahlia, and Lotus Brand new, only been swatched", "#003 Blackest Black This liquid eyeliner pen allows easy application without any mess. It perfects the definition of your eyes with no smudges. It is compact and fits in your purse or makeup case. Available in several colors. This black liquid eye pen is smudge-proof, so your eye makeup will stay in place and look fresh for up to 16 hours. This liquid eye pen is easy to apply and can be carried along in your makeup pouch for instant touch-ups.", "#51 Brand is American Princess. Brand new without tag. Sleeveless dress and matching sweater. Adorable red rose detail on dress and sweater. Perfect for Valentine's day or Mother's Day! Retail is [rm]. From SF/PF home. **Please check out my other listings. Lots of baby girls items. Will combine shipping- just ask!**", "#VINTAGE #TWEETY #LOONEY TUNES TEE SHIRT LATE #90S #FIRE CLEAN AS EVER ... #KPV $", "#lawstudious #BIN20 #BIN2", ...4454 not listed..., "❄Winter Bundle Deals❄ ▪️ Bundle 2 listings, save [rm]! ▪️ Bundle 3 listings, save [rm]! ▪️ Bundle 4 listings, save [rm]! Please comment to let us know to make a bundle deal for you! ========================================= This listing includes the following: ✅ 1 Pair of Clear Lens Aviators ▪️Silver Frame ▪️Nose Pieces ▪️High Quality ▪️100% UV Protection ▪️Men or Women ✅️ 1 Black Microfiber Pouch ========================================= ▪️PLEASE NOTE: All orders are shipped within 24 hours of purchase Monday - Friday. Orders placed on Sat/Sun or Holidays will process the following business day! ========================================= ShadeME 9015 Clear lens aviators Clear lens glasses Clear lens sunglasses", "❤FIRST OFF THIS BAG IS A-M-A-Z-I-N-G!!! ❤SUPER HUGE APPROX 15X15 ❤ MERMAID ❤SIDE POCKETS ❤INSIDE ZIPPER POCKET ❤BRAND NEW NEVER USED. ☺THANK U SO MUCH FOR LOOKING☺", "❤New VS PINK body spray. Scent is Fresh and clean. Smells awesome. Bottles can be used for super cute storage later. ❤This is the big 8.4oz bottle.", "❤️Brand New • Full Size • Authentic❤️ ✨In this listing, you will receive : ✨ 5 China Glaze Nail Polish - Jungle Queen Highlight of My Summer Sun of a Peach I'd Melt For You Are You Jelly? 1 Orly - Fancy Fuchsia 3 Essie - Cabana Boy Namastay the Night Haute Tub 1 Sally Hansen - Miss Wanderlust •Comment for combined shipping • ❗️More colors and brands on my page❗️ ✨Pricing✨ • 2 for [rm] • 3 for [rm] • 4 for [rm] • 5 for [rm] • 6 for [rm] • 7 for [rm] • 8 for [rm] • 9 for [rm] • 10 for [rm] - Free random polish •All Free Shipping• ❤️Please contact before leaving bad reviews❤️", "⭐️Brand NEW in box, Authentic Kiss Brand⭐️ ➡️This listing is for 2 boxes of 100 nails each pack! Each-Enough to do 5 sets of nails! ➡️Bundle discounts offered! ✳️ Have multiples of these! ✳️ Long, Medium & Short Square in stock also Oval in stock❣Mix or match any 2 packs for [rm]! •SHORT & Medium Length - Square Shape •Contains 100 Complete Nails in each pack! •Wear plain or add polish and or nail art •Nail Enamel Wears Longer- No Chipping! •Full Cover to cover entire nail •Comes with glue •Easy to use: simply trim, file & shape to fit your nails •Comfortable & fun to wear •FREE shipping + Free gift ✳️Rude comments will be blocked & reported! ➡️Many others in my closet❗️ ⚡️Follow my closet where you get: •Hair Skin & Nail Supplies •FAST shipping + carefully packaged items •Great prices & ratings •100% NEW & Authentic Top Brands •A+ customer service❗️ •Free gifts with orders❤️ tags: acrylic tips manicure artificial press ons gel OPI Essie nail art", "⭐️Don't forget to read my Bio before you purchase :) ❤️Free shipping and tracking Matte Label Size 1" x 2 5/8" Each Comment to mix and match designs. 40 @ [rm] 50 @ [rm] 60 @ [rm] 70 @ [rm] 80 @ [rm] 90 @ [rm] 100 @ [rm] 110 @ [rm] I delete sold listings, and unsold listings after a few days. Please follow me :) ❤️ Get Labeled ❤️ Pretty Don't forget to rate me, stickers, labels, tracking, shipping, stationery, supplies, thank you cards", "⭐️read profile before buying or commenting ⭐️shade in spark ⭐️never has been used ⭐️no box", "⭐️⭐️All my items are ALREADY priced at the lowest I will take. Please don't offer another price or ask lowest. Thank you in advance.⭐️⭐️ ✳️Description: NWT VS PINK gray long Jane onesie pajamas. ✳️Size: S ⚠️Keyword: Candy Land onesie Looking for more of this item but don't wanna search through my thousands of listings? Type the keyword above into the magnifying glass to search my listings easier! CLOSET RULES: ⛔️PLEASE READ MY PROFILE FOR MORE INFO ⛔️NO HOLDS ⛔️NO MODELING ⛔️NO TRADESS ⛔️NO RETURNSS FOR INCORRECT SIZE (this is Mercarii's policy) ⛔️LOWBALLS WILL BE DELETED ⛔️RUDE COMMENTS = BLOCKED -------------------------------------------------- ✴️Follow my page for new PINK items uploaded weekly! ❤️Candy Land❤️", "⭐️⭐️All my items are ALREADY priced at the lowest I will take. Please don't offer another price or ask lowest. Thank you in advance.⭐️⭐️ ✳️Description: NWT VS PINK lace up varsity crew. ✳️Size: S ⚠️Keyword: Candy Land varsity crew Looking for more of this item but don't wanna search through my thousands of listings? Type the keyword above into the magnifying glass to search my listings easier! CLOSET RULES: ⛔️PLEASE READ MY PROFILE FOR MORE INFO ⛔️NO HOLDS ⛔️NO MODELING ⛔️NO TRADESS ⛔️NO RETURNSS FOR INCORRECT SIZE (this is Mercarii's policy) ⛔️LOWBALLS WILL BE DELETED ⛔️RUDE COMMENTS = BLOCKED -------------------------------------------------- ✴️Follow my page for new PINK items uploaded weekly! ❤️Candy Land❤️", "》》》FULL SIZE《《《 This is BRAND NEW ** Only taken out of the box twice, once for this picture. 》》Shade is Creamsicle《《 Not the shade I thought but is a very pretty color. The formula on these are AMAZING! BM STROKE OF LIGHT BUNDLE NO LOWBALLS! BUNDLE FOR A DISCOUNT!"]
  warnings.warn(w)
/root/miniconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'brand_name' has levels not trained on: ["3M®", "A.P.C.", "ALO Yoga", "ART", "Advanced Healthcare Distributors", "Amazon", "Antonio Melani", "Anvil", "Apostrophe", "Arizona", ...100 not listed..., "Trixxi", "Tultex", "Victorinox Swiss Army®", "Voodoo Vixen", "Xersion", "YMI", "Yankee Candle Company", "Zana Di", "Zigi Soho", "deborah lippmann"]
  warnings.warn(w)
/root/miniconda3/lib/python3.8/site-packages/h2o/job.py:83: UserWarning: Test/Validation dataset column 'category_name' has levels not trained on: ["Beauty/Fragrance/Other", "Beauty/Tools & Accessories/Other", "Handmade/Accessories/Men", "Handmade/Art/Sculptures", "Handmade/Candles/Other", "Handmade/Clothing/Dress", "Handmade/Crochet/Accessories", "Handmade/Crochet/Supplies", "Handmade/Glass/Bowls", "Handmade/Glass/Sculptures", ...27 not listed..., "Vintage & Collectibles/Clothing/Swimwear", "Vintage & Collectibles/Serving/Plate", "Vintage & Collectibles/Supplies/Ephemera", "Vintage & Collectibles/Supplies/Yarn", "Vintage & Collectibles/Toy/Other", "Vintage & Collectibles/Trading Cards/Comic", "Women/Jeans/Relaxed", "Women/Skirts/Asymmetrical", "Women/Sweaters/Henley", "Women/Sweaters/Sweatercoat"]
  warnings.warn(w)

In [13]:
prediction[['predict']]

predict
47.4826
22.9235
17.7365
12.0939
61.6452
24.9096
17.3044
20.37
14.9629
33.8882

In [25]:
pred = prediction.as_data_frame()

In [28]:
from sklearn.metrics import mean_squared_error
RMSLE = np.sqrt(mean_squared_error(test1['price'], pred))

In [29]:
RMSLE

32.91419227715444

In [1]:
import time
import os
import psutil
import numpy as np 
import pandas as pd 

def count_time(func):
    def int_time():
        start_time = time.time()
        func()
        over_time = time.time()
        total_time = over_time - start_time
        print("程序运行了%s秒" % total_time)
    return int_time

def count_info(func):
    def float_info():
        pid = os.getpid()
        p = psutil.Process(pid)
        info_start = p.memory_full_info().uss/1024
        func()
        info_end=p.memory_full_info().uss/1024
        print("程序占用了内存"+str(info_end-info_start)+"KB")
    return float_info

In [2]:
df_train = pd.read_csv('sub_train.csv')

In [3]:
df_train.head(1)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,39376,Size 8 Boots,2,Women/Shoes/Boots,Sonoma,24.0,0,Excellent condition! Worn maybe once or twice

In [4]:
documents = df_train['brand_name'].to_list()

In [5]:
# documents

In [6]:
# doc[0]
doc_ids = list(range(len(documents)))

In [7]:
from collections import OrderedDict
import h2o
from h2o.information_retrieval.tf_idf import tf_idf

In [8]:
import h2o
from h2o.estimators import H2OWord2vecEstimator, H2OGradientBoostingEstimator
@count_time
@count_info
def calcu_h2o():
    h2o.init()
    input_frame = h2o.H2OFrame(OrderedDict([('DocID', doc_ids), ('Document', documents)]),
                                    column_types=['numeric', 'string'])
    STOP_WORDS = ["ax","i","you","edu","s","t","m","subject","can",
                  "lines","re","what","there","all","we","one","the",
                  "a","an","of","or","in","for","by","on","but","is",
                  "in","a","not","with","as","was","if","they","are",
                  "this","and","it","have","from","at","my","be","by",
                  "not","that","to","from","com","org","like","likes",
                  "so"]
    # Make the 'tokenize' function:
    def tokenize(sentences, stop_word = STOP_WORDS):
        tokenized = sentences.tokenize("\\W+")
        tokenized_lower = tokenized.tolower()
        tokenized_filtered = tokenized_lower[(tokenized_lower.nchar() >= 2) | (tokenized_lower.isna()),:]
        tokenized_words = tokenized_filtered[tokenized_filtered.grep("[0-9]",invert=True,output_logical=True),:]
        tokenized_words = tokenized_words[(tokenized_words.isna()) | (~ tokenized_words.isin(STOP_WORDS)),:]
        return tokenized_words

    words = tokenize(input_frame["Document"])

    # Build word2vec model:
    w2v_model = H2OWord2vecEstimator(sent_sample_rate = 0.0, epochs = 10)
    w2v_model.train(training_frame=words)

    # Find synonyms for the words "teacher":
    w2v_model.find_synonyms("teacher", count = 5)

    vecs = w2v_model.transform(words, aggregate_method = "AVERAGE")

In [9]:
calcu_h2o()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "17" 2021-09-14; OpenJDK Runtime Environment (build 17+35-2724); OpenJDK 64-Bit Server VM (build 17+35-2724, mixed mode, sharing)
  Starting server from /root/miniconda3/lib/python3.8/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpcujnrgu6
  JVM stdout: /tmp/tmpcujnrgu6/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpcujnrgu6/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ----------------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Asia/Shanghai
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.1
H2O_cluster_version_age:    22 days
H2O_cluster_name:           H2O_from_python_unknownUser_467gkj
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    20 Gb
H2O_cluster_total_cores:    15
H2O_cluster_allowed_cores:  15
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.10 final
--------------------------  ----------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
word2vec Model Build progress: |█████████████████████████████████████████████████| (done) 100%
程序占用了内存4312.0KB
程序运行了7.640567064285278秒